.fieldset-container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.fieldset-container input,
select {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.fieldset-container button {
  background: #000000;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.fieldset-container button:hover,
.fieldset-container button:active,
.fieldset-container button:focus {
  background: #1a1a1a;
}

.fieldset-container label {
  display: flex;
  justify-content: flex-start;
}

.form-container {
  display: flex;
  justify-content: center;
}

.wrapper-class input[type="radio"] {
  width: 30px;
}

.wrapper-class label {
  display: inline-block;
}

.wrapper-class button {
  display: inline-block;
}

body {
  background: white;
}

.table-container {
  height: auto;
  width: auto;
  overflow: scroll;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
#table td,
#table th {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

#table tr:nth-child(even) {
  background-color: #f1f1f1;
}

#table tr:hover {
  background-color: #e1e1e1;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
  z-index: 9990;
}

.show-spinner {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 5px 5px;
}

.button-icon {
  display: inline;
  width: 13px;
  height: 13px;
  margin-right: 4px;
}
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid black;
}

footer p {
  color: white;
  margin-right: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  margin: auto;
}

.logo {
  padding: 15px;
  width: 100px;
  height: 100px;
}

.svg-white {
  filter: invert(78%) sepia(99%) saturate(4%) hue-rotate(28deg) brightness(110%)
    contrast(89%);
}

@media (max-width: 700px) {
  .form-container button {
    width: 100%;
  }
  footer,
  header {
    flex-direction: column;
  }
}
